@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

h1 {
    font-size: large;
    color: white;
}

.songs-page {
  background: black;
  min-height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.dropdown-container {
    top: 10vh;
    width: 300px;
    position: relative;
    margin: 20px;
    background-color: seagreen;
}

.language-select {
    width: 100%;
    position: relative;
    font-size: 16px;
    background-color: seagreen;
    appearance: none;
}

/* .language-select .css-13cymwt-control {
    border: 2px solid #ff0000; 
    border-radius: 10px;
    box-shadow: none;
  }
  
  .language-select .css-13cymwt-control:hover {
    border-color: #00ff00;
  } */

/* select option {
    padding: 10px;
    font-size: 14px;
    background-color: var(--pink);
    color: #333;
} */

.dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
 }


.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
}

.nav-button {
  border: none;
  cursor: pointer;
  position: relative;
  width: 160px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  font-family: "Kumbh Sans";
  border-radius: 100px;
  background-color: #f2f2ed;
}

.nav-button:hover {
  background-color: var(--green);
}

.person-container-small {
    display: inline-block;
    transform: scale(0.7);
    transform-origin: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
  }

.difficulty-button {
  border: none;
  cursor: pointer;
  position: relative;
  width: 160px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  font-family: "Kumbh Sans";
  border-radius: 100px;
  background-color: #f2f2ed;
  transition: background-color 0.3s ease;
}

.difficulty-button:hover {
    background-color: var(--baby-pink);
}

.difficulty-button .clicked {
    background-color: var(--pink);
}