@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

h1 {
    font-size: 100pt;
    color: white;
}

.songs-page {
  background: black;
  min-height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    /* flex-direction: column;
    align-items: center; */
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
}

.nav-button {
  border: none;
  cursor: pointer;
  position: relative;
  width: 160px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: large;
  font-weight: 500;
  font-family: "Kumbh Sans";
  border-radius: 100px;
  background-color: #f2f2ed;
}

.nav-button:hover {
  background-color: var(--green);
}

.person-container-small {
  display: inline-block;
  transform: scale(0.7);
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
}

.arrow-svg {
  position: absolute;
  width: 20%;
  height: 50%;
  top: 30;
  left: 0;
  transform: rotate(15deg);
  /* width: 100%;
  height: 100%;
  top: 0;
  left: 50;
  z-index: 0; */
}

path {
  stroke: transparent;
  stroke-width: 12;
  stroke-dasharray: 8000;
  stroke-dashoffset: 8000;
}

.animate-arrow {
  stroke: var(--yellow);
  stroke-width: 5;
  animation: drawLine 7s forwards;
}

.animate-arrow-head {
  stroke: var(--yellow);
  stroke-width: 5;
  animation: drawLine 7s forwards;
  animation-delay: 1s;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

.instructions-container {
  position: absolute;
  max-width: 350px;
  margin-top: -5vh;
  margin-right: 50vh;
  font-size: 20pt;
  text-align: left;
  color: white;
  font-weight: bold;
  line-height: 40px;
}

.search-container {
  max-width: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 5vh;
  margin-right: 50vh;
  height: 70vh;
  z-index: 1;
}

.search-bar {
  display: inline-block;
  position: relative;
  min-height: 50px;
  width: 50px;
  box-sizing: border-box;
  margin: 0px 10px 9px 0px;
  padding: 9px 11px 0px 11px;
  border: 5px solid white;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
  
  &:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    right: -5px;
    top: 30px;
    background: white;
    border-radius: 5px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
  }
  
  &.active,
  &:hover {
    width: 400px;
    margin-right: 0px;
    
    &:after {
      height: 0px;	
    }
  }
}

.search-input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: "Kumbh Sans";
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
  color: white;
}


.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.track {
  flex-grow: 1;
  overflow-y: auto;
  color: white;
}

.track-container-wrapper {
  background-color: black;
  margin: 8px;
}

.track-container {
  background-color: black;
  flex-grow: 1;
  display: flex;
  margin: 8px;
  box-shadow: rgba(33, 33, 71, 0.557) 0px 2px 5px -1px, rgba(255, 255, 255, 0.6) 0px 1px 3px -1px;
  overflow: hidden;
  cursor: pointer;
}

.track-container:hover {
  background-color: rgba(50, 55, 75, 0.5);
}


.track-image {
  left: 200px;
}

.track-info {
  text-align: left;
  max-width: 300px;
  margin-left: 12px;
}

.track-title {
  font-weight: bold;
}

.track-artist {
  color: #6c757d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 20px;
}

/* todo: change colour of x button */
input[type="search"]::-webkit-search-clear-button {
  /* -webkit-appearance: none;
  appearance: none; */
  margin-right: 8px;
  cursor: pointer;
  width: 16px; 
  height: 16px; 
  color:rgba(255, 255, 255, 0.6);
}

.selected-track-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-left: 80vh;
  height: 70vh;
  color: white;
  flex-grow: 1;
  justify-content: center;
}

.selected-track-overlay {
  position: absolute;
  justify-content: center;
  max-width: 400px;
  top: 14vh;
  z-index: 1;
}

.displayed-title {
  padding-top: 15px;
  padding-bottom: 35px;
  font-size: 14pt;
  font-weight: bold;
}

.song-text-container {
  margin-top: 35px;
  font-size: 23pt;
  font-weight: bold;
}

.album-lineart-container {
  margin-top: 50px;
}

.arrow-container {
  position: absolute;
  top: 20px;
  margin-left: 40px;
}

.album-cover-arrow {
  position: relative;
  width: 375px;
  height: 200px;
  left: 20px;
  background: url("../../assets/images/SongsPage/arrow-line.png") no-repeat center center;
  background-size: cover;
}

.album-cover-box {
  width: 375px;
  height: 375px;
  background: url("../../assets/images/SongsPage/album-cover-outline.png") no-repeat center center;
  background-size: cover;
}
