.head-container {
    /* background-color: seagreen; */
    width: 320px;
    height: 250px;
    position: relative;
    display: flex;
    z-index: 1;
    /* overflow: hidden; */
    justify-content: center;
    align-items: center;
  }

  .head-container.disabled-hover:hover {
    pointer-events: none;
  }
  
  .headphone-container {
    position: relative;
    z-index: 10;
  }
  
  .left-headphone {
    position: relative;
    width: 30px;
    height: 100px;
    border: 5px solid #f2f2ed;
    border-radius: 100px 10px 10px 100px;
    transition: transform 0.3s, background-color 0.3s;
    background-color: var(--primary-base);
  }
  
  .right-headphone {
    position: relative;
    width: 30px;
    height: 100px;
    border: 5px solid #f2f2ed;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: transform 0.3s, background-color 0.3s;
    background-color: var(--primary-base);
  }
  
  .headphone-bar {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 100px;
    /* border: 5px solid #f2f2ed;
    background-color: black;
    transition: transform 0.3s, background-color 0.3s; */
    z-index: 1;
    /* border-radius: 10px 10px 0 0; */
    background: url("../../assets/images/HomePage/headphone-bar-before.png") no-repeat center center;
    background-size: contain;
    transition: transform 0.3s;
  }

  /* .head-container:hover {

    & .right-headphone {
        background-color: var(--secondary-accent);
        transform: translateX(+8px);
    }

  } */
  
  .head-container:hover .right-headphone {
    background-color: var(--secondary-accent);
    transform: translateX(+8px);
  }
  
  .head-container:hover .left-headphone {
    background-color: var(--secondary-accent);
    transform: translateX(-8px);
  }
  
  .head-container:hover .headphone-bar {
    transform: scale(1.2);
    background: url("../../assets/images/HomePage/headphone-bar-after.svg") no-repeat center center;
    background-size: contain;
    transform: translateY(-20px);
  }
  
  .eye-movement-container {
    width: 100px;
    height: 150px;
  }
  
  .head {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 180px;
    height: 230px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border: 4px solid #f2f2ed;
    border-radius: 100px;
    background-color: var(--primary-accent);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .head:hover {
    transform: scale(1.1);
    background-color: var(--secondary-base);
  }
  
  .face {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-self: center;
  }
  
  .upper-face {
    display: flex;
    margin-bottom: 7px;
    justify-content: center;
  }
  
  .leftbrow {
    position: relative;
    width: 23px;
    height: 7px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #f2f2ed;
    transform-origin: center;
    transition: transform 0.1s ease-out;
  }
  
  .rightbrow {
    position: relative;
    width: 23px;
    height: 7px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #f2f2ed;
  }
  
  .upper-face .leftbrow .rightbrow {
    border: 3px solid var(--primary-accent);
  }
  
  .head:hover .upper-face .leftbrow .rightbrow {
    border: 3px solid var(--secondary-base);
  }
  
  
  .mid-face {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .eye-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .space-between-eyes {
    width: 20px;
  }
  
  .eye {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 4px solid #f2f2ed;
    border-radius: 100%;
    background-color: #f2f2ed;
  }
  
  .pupil {
    position: relative;
    display: flex;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }
  
  .eye-container .pupil {
    background-color: var(--primary-accent);
  }
  
  .head:hover .eye-container .pupil {
    background-color: var(--secondary-base);
  }
  
  .mid-lower-face {
    position: relative;
    z-index: 10;
    display: flex;
    margin-top: -10px;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .nose {
    position: relative;
    width: 26px;
    height: 10px;
    border-radius: 100px;
    background-color: #f2f2ed;
  }
  
  .mid-lower-face .nose {
    border: 3px solid var(--primary-accent);
  }
  
  .head:hover .mid-lower-face .nose {
    border: 3px solid var(--secondary-base);
  }
  
  .lower-face {
    display: flex;
    justify-content: center;
  }
  
  .mouth {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 60px;
    height: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #f2f2ed;
    border-radius: 100px 100px 200px 200px;
    /* background-color: #41339f; */
  }
  
  .mouth-grow {
    width: 30px; 
    height: 50px; 
    transition: width 0.5s, height 0.8s;
  }
  
  .mouth-shrink {
    width: 60px;
    height: 10px;
    transition: width 0.5s, height 0.8s;
  }
  
  /* .halo {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 180px;
    height: 230px;
    top: 250px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 100px;
    background-color: pink;
  }
  
  .halo:hover {
    transform: scale(50);
    background-color: pink;
  } */