.mp-setting-page {
    background: black;
    min-height: 100vh;
  }

.main-container-mp-setting {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mp-title {
    padding: 20px;
    width: 500px;
    font-size: 30pt;
    color: white;

}

.lang-dropdown-container {
    min-width: 500px;
    background-color: pink;
    padding: 50px;
    justify-content: center;

}

.setup-container {
    margin-top: 3%;
    min-width: 500px;
    height: 200px;
    padding: 50px;
    background-color: orange;
    justify-content: center;
}